* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.heder{
    display: flex;
    justify-content: space-between;
    background: #222222;
    padding: 18px 0;
}

.nav_left{
    display: flex;
    gap: 41px;
    align-items: center;
}

.nav_right{
    display: flex;
    gap: 33px;
    align-items: center;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}

.menu__btn {
    padding-right: 25px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #e8e8e8;
    transition-duration: 0.25s;
}

.menu__btn > span {
    margin-top: -9px;
    padding-right: 10px;
}
.menu__btn > span::before {
    content: "";
    top: -10px;
}
.menu__btn > span::after {
    content: "";
    top: 10px;
}
.menu__box {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: -200%;
    width: 232px;
    height: 634px;
    margin: 0;
    padding-top: 32px;
    padding-left: 33px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 10;
}

.menu__box h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu__box h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding-top: 20px;
}
.menu__item {
    display: block;
    padding-left: 20px;
    padding-top: 12px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    transition-duration: 0.25s;
}

.banner{
    background: #f1e4e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_right{
    border-left: 12px solid #f16d7f;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.banner_right h1{
    font-weight: 900;
    font-size: 48px;
    color: #222;
    line-height: 48px;
}

.banner_right h2{
    font-weight: 700;
    font-size: 32px;
    color: #222;
    line-height: 32px;
}

.banner_header{
    font-weight: 700;
    font-size: 32px;
    color: #f16d7f;
}

.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 1fr;
    gap: 30px;
    margin: 65px auto;
}

.shop img{
    width: 360px;
    height: 260px;
}

.accesories{
    grid-column: span 3;
}

.accesories img{
    width: 1140px;
    height: 180px;
}

.shop h3{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 15px;
}

.shop h2{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #f16d7f;
    line-height: 24px;
}

.blackout{
    background: rgba(33, 22, 22, 0.7);
    position: absolute;
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackout_accesories{
    background: rgba(33, 22, 22, 0.7);
    position: absolute;
    width: 1140px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_card{
    margin: 96px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section_card h2{
    font-weight: 400;
    font-size: 30px;
    color: #222;
    text-align: center;
    line-height: 30px;
}

.p1{
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    line-height: 30px;
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin: 48px auto;
}

.card_description{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card_description h3{
    font-weight: 400;
    font-size: 13px;
    color: #000;
}

.card_description p{
    font-weight: 300;
    font-size: 14px;
    color: #5d5d5d;
}

.card_description h4{
    font-weight: 400;
    font-size: 16px;
    color: #f16d7f;
}

.button-AllProdukt{
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    color: #f26376;
    padding: 15px 40px;
    background: #FFFFFF;
    cursor:pointer;
}

.button-AllProdukt:hover {
    color: #FFFFFF;
    background: #F16D7F;
}

.main__bottom {
    margin: 0 auto;
    align-items: center;
}

.card__product{
    position: relative;
}

.card__product:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
}

.card__product:hover::before {
    background: rgba(58, 56, 56, 0.86);
}

.card__product img {
    display:block;
}

.card__product .btn {
    width: 138px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
    background: none;
    border: 1px solid #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor:pointer;
}

.card__product:hover button {
    opacity: 1;
}

.footer__info {
    padding: 104px 0;
    max-width: 1600px;
    margin: auto;
    background: #222224;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.footer__info__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.footer__info__card h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer__info__card p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__subscribe {
    height: 550px;
    background-image: url(./img/footer\ font.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__blur {
    background: rgba(244, 244, 244, 0.7);
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 223px;
}

.footer__subscribe__info {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__subscribe__info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.footer__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__subsc_subsc__text {
    text-align: center;
}

.footer__subsc_subsc__text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footer__subsc_subsc__text p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.footer__subsc__form__btn form{
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}
.footer__subsc__form__btn input{
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 22px;
    border: none;
}

.footer__subsc__form__btn button{
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor:pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle; 
    padding-left: 15px;
    border: none;
}

.footer__navbar {
    height: 79px;
    width: 1600px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__navbar p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
}

.footer__navbar__icons {
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
}
.footer__navbar__icons a {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.fa {
    width: 31px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
}

.fa:hover {
    background: #F16D7F;
    color: #FFFFFF;
    svg:hover {
        fill: white;
    }
}



@media(min-width: 768px) and (max-width: 1140px){

    .container{
        max-width: 736px;
    }
    .heder{
        max-width: 1140px;
        margin: 0 auto;
    }

    .banner{
        max-width: 1140px;
        margin: 0 auto;
    }

    .banner img{
        max-width: 386px;
        max-height: 368px;
    }

    .banner_right h1{
        font-size: 44px;
    }

    .banner_right h2{
        font-size: 24px;
    }

    .banner_header{
        font-size: 24px;
    }

    .shop{
        gap: 19px;
    }

    .shop_card img{
        max-width: 232px;
        max-height: 167px;
    }

    .accesories img{
        max-width: 734px;
        max-height: 116px;
    }

    .blackout{
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 232px;
        height: 167px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .blackout_accesories{
        background: rgba(33, 22, 22, 0.7);
        position: absolute;
        width: 734px;
        height: 116px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        margin: 48px auto;
    }

    .footer__info {
        height: 610px;
        width: 768px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer__info__card{
        margin: 0 auto;
    }

    .footer__subscribe {
        height: 693px;
        margin: 0 auto;
        background-size: cover;
    }
    .footer__blur {
        height: 693px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .footer__navbar {
        width: 768px;
    }

    .footer__navbar p {
        margin-left: 32px;
    }
    
    .footer__navbar__icons {
        margin-right: 23px;
    }
}

@media(max-width: 767px) {
    .container{
        max-width: 359px;
    }

    .heder{
        max-width: 767px;
        margin: 0 auto;
    }

    .block {
        display: none;
    }

    .shop {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .accesories{
        position: relative;
        overflow: hidden;
        width: 359px;
        height: 111px;
    }

    .banner{
        height: 360px;
    }

    .banner_right{
        margin: 0 auto;
    }

    .banner_right h1{
        font-size: 38px;
    }

    .banner_right h2{
        font-size: 20px;
    }

    .banner_header{
        font-size: 20px;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
    }

    .footer__subscribe {
        height: 550px;
    }

    .footer__blur {
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .footer__navbar {
        width: 375px;
        height: 143px;
        flex-direction: column-reverse;
    }

    .footer__navbar p {
        margin-left: 0px;
        margin-bottom: 9px;
    }
    
    .footer__navbar__icons {
        margin-right: 0px;
        margin-top: 43px;
    }

    .footer__subscribe__info {
        width: 343px;
        height: 194px;
        justify-content: space-between;
    }
    
    .footer__subscribe__info p {
        height: 73px;
        font-size: 18px;
    }
    
    .footer__subsc_subsc {
        width: 341px;
        height: 123px;
    }
    
    .footer__subsc_subsc__text {
        text-align: center;
    }
    
    .footer__subsc_subsc__text h2 {
        line-height: 36px;
    }
    
    .footer__subsc_subsc__text p {
        font-size: 14px;
        line-height: 21.45px;
    }
    
    .footer__subsc__form__btn form{
        width: 341px;
        height: 47px;
    }

    .footer__subsc__form__btn input{
        width: 245px;
    }
    
    .footer__subsc__form__btn button{
        width: 95.7px;
        height: 47px;
    }
}